


















{% extends 'base.html' %}

{% block content %}

{% load static %}


{% comment %} <script>
  function text(x){
    if(x =="selected").document.getElementById('check').style.display = "block";
    else document.getElementById('check').style.display = "none";
    al

  }
</script> {% endcomment %}
    <div class="container-fluid bdr">
       
        <div class="row">

            <div class="col-sm-2 mt-5 dbox">
                <a class="nav mt-5" href="#">
                    <img src="{% static 'static/img/download.jpeg' %}" class="rounded-circle" alt="" width="90" height="60">
                  </a>
  
                  <a class="nav mt-5" href="#">
                    <img src="{% static 'static/img/download.jpeg' %}" class="rounded-circle" alt="" width="90" height="60">
                  </a>

                  <a class="nav mt-5" href="#">
                    <img src="{% static 'static/img/download.jpeg' %}" class="rounded-circle" alt="" width="90" height="60">
                  </a> <br>
                              
                    <a class="btn btn-primary btn-lg mt-5" href="/createinvoice" role="button">Create Invoice </a>
       

                   <a class="btn btn-primary btn-lg mt-5" href="/sendinvoice" role="button">Send Invoice </a>
                    
            </div> 



            <div class="col-sm-10 mt-5  dbox">
                
                  <h1> Send Invoice </h1><br>
                  <form action="" method="post" class="shadow p-5"  enctype="multipart/form-data">
                   {% csrf_token%}


                   <div class="mb-3">
                    <label for="inputEmail4" class="form-label">Send To </label>
                    <input type="email" name="email"  class="form-control" id="inputEmail4" required>
                    {{form.errors.name}}
                   </div>


                   <div class="card-box">
                    <span class="details">Message</span>
                    <textarea class="form-control" name='discription' id="content" cols="175" rows="4" >{{value.Description}}</textarea>
                   </div>


                   <label class="form-label" for="customFile">Upload Document </label>
           
                   <input type="file"  class="form-control"   name="file" id="customFile" required />
                   <br>


                   <div class="form-check form-switch">
                    <input class="form-check-input" name="status"  value="selected" type="checkbox" id="check" onClick={text}>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Check If you shedule  the time  </label>
                  </div>
                  <br>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Date and time</label>
                     
                    <input type="datetime-local" name="setdate"  class="form-control">
                  </div><br>
                   
                   <button type="Submit" class="btn btn-danger">Submit</button>
                 
                 
                 
                  </div>





             
                 </div>
                 

                  
                  
                 </form>

                

                
                

            </div>
             
            
        </div>
    </div>





{% endblock %}






































{% comment %} 
{% extends 'base.html' %}

{% block content %}

{% load static %}




<style>
    .errorlist{
      color: red;
      list-style-type:none;
    }
    .success{
      color:green;
    }
</style>
<div class="container">
<div class="row my-3">
<div class="col-sm-6 offset-sm-3">
 <h3>Send Invoice </h3>
 <hr>


 <form action="" method="post" novalidate class="shadow p-5" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %} <div class="mb-3">
       <label for="inputEmail4" class="form-label">Subject</label>
       <input type="text" name="subject"  class="form-control" id="inputEmail4">
       {{form.errors.name}}
      </div> {% endcomment %}

    {% comment %} <div class="mb-3">
    <label for="inputEmail4" class="form-label">To</label>
    <input type="email" name ="rceiveremail" class="form-control" id="inputEmail4" required>
    
    {{form.errors.email}}
    </div> {% endcomment %}

    <!--Enter discription -->
{% comment %} 
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Enter Message </label>
        <textarea   name="discription"   class="form-control" id="exampleFormControlTextarea1" rows="4">{{objs.Description}}</textarea>
      </div> {% endcomment %}

    <!--discription end -->

    <!--File field -->
    {% comment %} <div> 
        <label class="form-label" for="customFile">Upload Document </label>
           
        <input type="file"  class="form-control"  value = "" name="userfile" id="customFile"/>
      </div>
      <br>
      <a class="btn btn-primary" href="/dashboard" role="button">DashBoard</a>
      
       <br>



    <!--end file-->

    
   
   
    <div class="text-end">
    <button type="Submit" class="btn btn-danger">Submit</button>
    </div>
    <br>
   
    </form>
    


   
 

</div>
</div>
</div> {% endcomment %}




